
@{
    ViewBag.Title = "index3";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>index3</h2>

<div style="width:500px;height:600px">

    <img src="@Url.Action("Index3","Grafik")" />

</div>