
@{
    ViewBag.Title = "İndex2";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>İndex2</h2>

<div style="width:500px;height:600px">

    <img src="@Url.Action("Index2","Grafik")" />

</div>

