@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Ekle</h2>
<br />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<form class="form-group" method="post">
    @Html.LabelFor(x=>x.KategoriAd)
    @Html.TextBoxFor(x=>x.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
    <script>
        $('#Btn1').click(function () {
            alert("Kategori başarılı bir şekilde eklendi")
        });
    </script>
</form>

