@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Ekle</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x=>x.DepartmanAd)
    @Html.TextBoxFor(x=>x.DepartmanAd, new {@class="form-control" })
    <br />
    <button class="btn btn-info">Departman Ekle</button>

</form>

